<h5 style="font-weight: bold;font-style: italic;">About :-</h5>
<ul>
  <li>This is an web app for your college timetable.</li>
  <li>This timetable changes regularly according to day of week.</li>
  <li>Please add this link to home screen.</li>
  <li>You can simply select on subject name to redirect to your Online class.</li>
  <li>please ask your Mathematics and Human Values faculty to provide permanent link for their lectures so to add in this timetable.</li>
  <li>To view full timetable <a routerLink="/fulltt" routerLinkActive="active" >click here.</a></li>
</ul>

<router-outlet></router-outlet>