<h1 style="text-align: center;">Week TimeTable</h1>
<hr>

<div>
    <table>
        <tr>
            <th>Day\Time</th>
            <th>11:50</th>
            <th>12:15</th>
            <th>01:00</th>
            <th>01:45</th>
            <th>02:15</th>
            <th>03:00 (Practical)</th>
        </tr>
        <tr>
            <td>Monday</td>
            <td>-</td>
            <td>PP</td>
            <td>M4</td>
            <td>B</td>
            <td>DAA</td>
            <td>IC</td>
        </tr>
        <tr>
            <td>Tuesday</td>
            <td>-</td>
            <td>MI</td>
            <td>M4</td>
            <td>R</td>
            <td>DAA</td>
            <td>IC</td>
        </tr> 
        <tr>
            <td>Wednesday</td>
            <td>DAA</td>
            <td>COA</td>
            <td>M4</td>
            <td>E</td>
            <td>DAA</td>
            <td>IC</td>
        </tr> 
        <tr>
            <td>Thursday</td>
            <td>PP</td>
            <td>PP</td>
            <td>MI</td>
            <td>A</td>
            <td>COA</td>
            <td>-</td>
        </tr> 
        <tr>
            <td>Friday</td>
            <td>MI</td>
            <td>PP</td>
            <td>MI</td>
            <td>K</td>
            <td>COA</td>
            <td>-</td>
        </tr>

    </table>
</div>

<router-outlet></router-outlet>