<h1 style="text-align: center;">Week TimeTable</h1>
<hr>

<div>
    <table>
        <tr>
            <th>Day\Time</th>
            <th>11:00</th>
            <th>11:45</th>
            <th>12:30</th>
            <th>01:00</th>
            <th>01:45</th>
            <th>02:30 (Practical)</th>
        </tr>
        <tr>
            <td>Monday</td>
            <td>M3</td>
            <td>HVPE</td>
            <td>B</td>
            <td>DM</td>
            <td>DE</td>
            <td>DE</td>
        </tr>
        <tr>
            <td>Tuesday</td>
            <td>M3</td>
            <td>HVPE</td>
            <td>R</td>
            <td>NSC</td>
            <td>DE</td>
            <td>DS</td>
        </tr> 
        <tr>
            <td>Wednesday</td>
            <td>M3</td>
            <td>DS</td>
            <td>E</td>
            <td>OOPs</td>
            <td>DE</td>
            <td>OOPs</td>
        </tr> 
        <tr>
            <td>Thursday</td>
            <td>DM</td>
            <td>DS</td>
            <td>A</td>
            <td>OOPs</td>
            <td>NSC</td>
            <td>NSC</td>
        </tr> 
        <tr>
            <td>Friday</td>
            <td>DM</td>
            <td>DS</td>
            <td>K</td>
            <td>OOPs</td>
            <td>NSC</td>
            <td>-</td>
        </tr>

    </table>
</div>

<router-outlet></router-outlet>