<h1 style="text-align: center;">Today's TimeTable</h1>
<hr>
<h3 style="font-size:large;">Date :- {{d}}</h3>
<hr>
<div *ngIf="n === 0">
  <h3 style="font-weight: bold;font-style: italic;">Good News Guy's...Today is Holiday.</h3>
  <img style="position: relative;left:100px;" src="assets/images/party.png">
</div>

<div *ngIf="n === 1">
  <table>
    <tr>
      <th>Time</th>
      <th>Lecture</th>
    </tr>
    <tr>
      <td>11:15 - 12:15</td>
      <td><a>Hurray!There is no class Today...</a></td>
    </tr>
    <tr>
      <td>12:15 - 01:00</td>
      <td><a href="https://meet.google.com/tvk-qtix-pdu" >Python Programming</a></td>
    </tr>
    <tr>
      <td>01:00 - 01:45</td>
      <td><a>Mathematics</a></td>
    </tr>
    <tr>
      <td>01:45 - 02:15</td>
      <td><a>BREAK</a></td>
    </tr>
    <tr>
      <td>02:15 - 03:00</td>
      <td><a>Design and Analysis of Algorithms</a></td>
    </tr>
    <tr>
      <td>03:00 - 03:45</td>
      <td><a href="https://meet.google.com/hia-pggd-ppy">Indian Constitution</a></td>
    </tr>
  </table>
</div>

<div *ngIf="n === 2">
  <table>
    <tr>
      <th>Time</th>
      <th>Lecture</th>
    </tr>
    <tr>
      <td>11:15 - 12:15</td>
      <td><a>Hurray!There is no class Today...</a></td>
    </tr>
    <tr>
      <td>12:15 - 01:00</td>
      <td><a href="https://meet.google.com/ykh-yway-emf" >Microprocessors and Interfacing</a></td>
    </tr>
    <tr>
      <td>01:00 - 01:45</td>
      <td><a>Mathematics</a></td>
    </tr>
    <tr>
      <td>01:45 - 02:15</td>
      <td><a>BREAK</a></td>
    </tr>
    <tr>
      <td>02:15 - 03:00</td>
      <td><a>Design and Analysis of Algorithms</a></td>
    </tr>
    <tr>
      <td>03:00 - 03:45</td>
      <td><a href="https://meet.google.com/hia-pggd-ppy">Indian Constitution</a></td>
    </tr>
  </table>
</div>

<div *ngIf="n === 3">
  <table>
    <tr>
      <th>Time</th>
      <th>Lecture</th>
    </tr>
    <tr>
      <td>11:15 - 12:15</td>
      <td><a>Design and Analysis of Algorithms (Practical)</a></td>
    </tr>
    <tr>
      <td>12:15 - 01:00</td>
      <td><a href="http://meet.google.com/cbc-gzqh-aak" >Computer Organization and Architecture</a></td>
    </tr>
    <tr>
      <td>01:00 - 01:45</td>
      <td><a>Mathematics</a></td>
    </tr>
    <tr>
      <td>01:45 - 02:15</td>
      <td><a>BREAK</a></td>
    </tr>
    <tr>
      <td>02:15 - 03:00</td>
      <td><a>Design and Analysis of Algorithms</a></td>
    </tr>
    <tr>
      <td>03:00 - 03:45</td>
      <td><a href="https://meet.google.com/hia-pggd-ppy">Indian Constitution (Evaluation)</a></td>
    </tr>
  </table>
</div>

<div *ngIf="n === 4">
  <table>
    <tr>
      <th>Time</th>
      <th>Lecture</th>
    </tr>
    <tr>
      <td>11:15 - 12:15</td>
      <td><a href="https://meet.google.com/tvk-qtix-pdu" >Python Programming (Practical)</a></td>
    </tr>
    <tr>
      <td>12:15 - 01:00</td>
      <td><a href="https://meet.google.com/tvk-qtix-pdu" >Python Programming</a></td>
    </tr>
    <tr>
      <td>01:00 - 01:45</td>
      <td><a href="https://meet.google.com/ykh-yway-emf" >Microprocessors and Interfacing</a></td>
    </tr>
    <tr>
      <td>01:45 - 02:15</td>
      <td><a>BREAK</a></td>
    </tr>
    <tr>
      <td>02:15 - 03:00</td>
      <td><a href="http://meet.google.com/cbc-gzqh-aak" >Computer Organization and Architecture</a></td>
    </tr>
    <tr>
      <td>03:00 - 03:45</td>
      <td><a>Hurray!There is no class Today...</a></td>
    </tr>
  </table>
</div>

<div *ngIf="n === 5">
  <table>
    <tr>
      <th>Time</th>
      <th>Lecture</th>
    </tr>
    <tr>
      <td>11:15 - 12:15</td>
      <td><a href="https://meet.google.com/ykh-yway-emf" >Microprocessors and Interfacing</a></td>
    </tr>
    <tr>
      <td>12:15 - 01:00</td>
      <td><a href="https://meet.google.com/tvk-qtix-pdu" >Python Programming</a></td>
    </tr>
    <tr>
      <td>01:00 - 01:45</td>
      <td><a href="https://meet.google.com/ykh-yway-emf" >Microprocessors and Interfacing</a></td>
    </tr>
    <tr>
      <td>01:45 - 02:15</td>
      <td><a>BREAK</a></td>
    </tr>
    <tr>
      <td>02:15 - 03:00</td>
      <td><a href="http://meet.google.com/cbc-gzqh-aak" >Computer Organization and Architecture</a></td>
    </tr>
    <tr>
      <td>03:00 - 03:45</td>
      <td><a>Hurray!There is no class Today...</a></td>
    </tr>
  </table>
</div>

<div *ngIf="n === 6">
  <h3 style="font-weight: bold;font-style: italic;">Good News Guy's...Today is Holiday.</h3>
  <img style="position: relative;left:100px;" src="assets/images/party.png">
</div>

<div style="position: relative;top:50px;">
  <ul>
    <li><p routerLink="/about" routerLinkActive="active" >About</p></li>
    <li><p routerLink="/fulltt" routerLinkActive="active" >View Full TimeTable</p></li>
  </ul>
  <hr>
</div>



<router-outlet></router-outlet>









