<h1 style="text-align: center;">Today's TimeTable</h1>
<hr>
<h3 style="font-size:large;">Date :- {{d}}</h3>
<hr>
<div *ngIf="n === 0">
  <h3 style="font-weight: bold;font-style: italic;">Good News Guy's...Today is Holiday.</h3>
  <img style="position: relative;left:100px;" src="assets/images/party.png">
</div>

<div *ngIf="n === 1">
  <table>
    <tr>
      <th>Time</th>
      <th>Lecture</th>
    </tr>
    <tr>
      <td>11:00 - 11:45</td>
      <td><a>Mathematics 3</a></td>
    </tr>
    <tr>
      <td>11:45 - 12:30</td>
      <td><a>Human Values</a></td>
    </tr>
    <tr>
      <td>12:30 - 01:00</td>
      <td>BREAK</td>
    </tr>
    <tr>
      <td>01:00 - 01:45</td>
      <td> <a href="https://meet.google.com/lookup/eu3tobw6nv">Discrete Mathematics</a></td>
    </tr>
    <tr>
      <td>01:45 - 02:30</td>
      <td><a href="https://meet.google.com/swm-isbr-xbw">Digital Electronics</a></td>
    </tr>
    <tr>
      <td>02:30 - 03:00</td>
      <td><a href="https://meet.google.com/swm-isbr-xbw">Digital Electronics (Practical)</a></td>
    </tr>
  </table>
</div>

<div *ngIf="n === 2">
  <table>
    <tr>
      <th>Time</th>
      <th>Lecture</th>
    </tr>
    <tr>
      <td>11:00 - 11:45</td>
      <td><a>Mathematics 3</a></td>
    </tr>
    <tr>
      <td>11:45 - 12:30</td>
      <td><a>Human Values</a></td>
    </tr>
    <tr>
      <td>12:30 - 01:00</td>
      <td>BREAK</td>
    </tr>
    <tr>
      <td>01:00 - 01:45</td>
      <td> <a href="https://meet.google.com/lookup/hl5xg4duzh">Numerical & Scientific Computing</a></td>
    </tr>
    <tr>
      <td>01:45 - 02:30</td>
      <td><a href="https://meet.google.com/swm-isbr-xbw">Digital Electronics</a></td>
    </tr>
    <tr>
      <td>02:30 - 03:00</td>
      <td><a href="https://meet.google.com/lookup/csyyalrgo5">Data Structures (Practical)</a></td>
    </tr>
  </table>
</div>

<div *ngIf="n === 3">
  <table>
    <tr>
      <th>Time</th>
      <th>Lecture</th>
    </tr>
    <tr>
      <td>11:00 - 11:45</td>
      <td><a>Mathematics 3</a></td>
    </tr>
    <tr>
      <td>11:45 - 12:30</td>
      <td><a href="https://meet.google.com/lookup/csyyalrgo5">Data Structures (Practical)</a></td>
    </tr>
    <tr>
      <td>12:30 - 01:00</td>
      <td>BREAK</td>
    </tr>
    <tr>
      <td>01:00 - 01:45</td>
      <td> <a href="https://meet.google.com/lookup/hjjbteiqbb">Object Oriented Programming in Java</a></td>
    </tr>
    <tr>
      <td>01:45 - 02:30</td>
      <td><a href="https://meet.google.com/swm-isbr-xbw">Digital Electronics</a></td>
    </tr>
    <tr>
      <td>02:30 - 03:00</td>
      <td> <a href="https://meet.google.com/lookup/hjjbteiqbb">Object Oriented Programming in Java</a></td>
    </tr>
  </table>
</div>

<div *ngIf="n === 4">
  <table>
    <tr>
      <th>Time</th>
      <th>Lecture</th>
    </tr>
    <tr>
      <td>11:00 - 11:45</td>
      <td> <a href="https://meet.google.com/lookup/eu3tobw6nv">Discrete Mathematics</a></td>
    </tr>
    <tr>
      <td>11:45 - 12:30</td>
      <td><a href="https://meet.google.com/lookup/csyyalrgo5">Data Structures (Practical)</a></td>
    </tr>
    <tr>
      <td>12:30 - 01:00</td>
      <td>BREAK</td>
    </tr>
    <tr>
      <td>01:00 - 01:45</td>
      <td> <a href="https://meet.google.com/lookup/hjjbteiqbb">Object Oriented Programming in Java</a></td>
    </tr>
    <tr>
      <td>01:45 - 02:30</td>
      <td> <a href="https://meet.google.com/lookup/hl5xg4duzh">Numerical & Scientific Computing</a></td>
    </tr>
    <tr>
      <td>02:30 - 03:00</td>
      <td> <a href="https://meet.google.com/lookup/hl5xg4duzh">Numerical & Scientific Computing</a></td>
    </tr>
  </table>
</div>

<div *ngIf="n === 5">
  <table>
    <tr>
      <th>Time</th>
      <th>Lecture</th>
    </tr>
    <tr>
      <td>11:00 - 11:45</td>
      <td> <a href="https://meet.google.com/lookup/eu3tobw6nv">Discrete Mathematics</a></td>
    </tr>
    <tr>
      <td>11:45 - 12:30</td>
      <td><a href="https://meet.google.com/lookup/csyyalrgo5">Data Structures (Practical)</a></td>
    </tr>
    <tr>
      <td>12:30 - 01:00</td>
      <td>BREAK</td>
    </tr>
    <tr>
      <td>01:00 - 01:45</td>
      <td> <a href="https://meet.google.com/lookup/hjjbteiqbb">Object Oriented Programming in Java</a></td>
    </tr>
    <tr>
      <td>01:45 - 02:30</td>
      <td> <a href="https://meet.google.com/lookup/hl5xg4duzh">Numerical & Scientific Computing</a></td>
    </tr>
    <tr>
      <td>02:30 - 03:00</td>
      <td>Good News ! No Practicals Today</td>
    </tr>
  </table>
</div>

<div *ngIf="n === 6">
  <h3 style="font-weight: bold;font-style: italic;">Good News Guy's...Today is Holiday.</h3>
  <img style="position: relative;left:100px;" src="assets/images/party.png">
</div>

<div style="position: relative;top:50px;">
  <ul>
    <li><p routerLink="/about" routerLinkActive="active" >About</p></li>
    <li><p routerLink="/fulltt" routerLinkActive="active" >View Full TimeTable</p></li>
  </ul>
  <hr>
</div>



<router-outlet></router-outlet>









